<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="fixture.desktop.cover"
    android:versionCode="16" android:versionName="1.6.16">
    <application android:label="Cover desktop fixture">
        <meta-data android:name="tachiyomix.name" android:value="Cover desktop fixture" />
        <meta-data android:name="tachiyomix.extensionLib" android:value="1.6" />
        <meta-data android:name="tachiyomi.extension.class" android:value="fixture.desktop.CoverSource" />
        <meta-data android:name="tachiyomi.extension.nsfw" android:value="0" />
    </application>
</manifest>
